{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>home</title>
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar">
            <p class="logo">Profile</p>
                <a class="profile-icon-link-container" href="{% url 'profile' %}">
                    <img src="{% static 'images/default.svg' %}" alt="profile-icon">
                    <span class="header-username">Hello, {{user}}</span>
                </a>
        </nav>
    </header>
{% endblock %}  

{% block main %}
        <main class="main-container">
            <div class="container">
                <div class="profile-photo-container">
                    <img src="{{user.profile.profile_img.url}}" alt="User Image" width="100px" srcset="">
                </div>


                <div class="user-content-container">
                    <p class="username" >{{user.profle.name}}</p>
                    <p class="user-title">{{user.profile.title}}</p>
                    <p class="user-desc">{{user.profile.desc}}</p>
                    <div class="profile-edit-link-container">
                        <a href="{%  url 'profile' %}">Edit</a>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}